[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "visa"]
	path = visa
	url = https://github.com/kang-yu/visa
	shallow = true
	registered = true
